{% extends "layout.html" %} {% block title %}Contact - Form{% endblock %} {%
block content %}

<h2>Setup your space and meet right away.</h2>

<details>
  <summary>
    Need more options? Check out our
    <a href="/pro_page">Pro-Features for even more.</a>
  </summary>
  <ul>
    <li>Your Startr Space will have more meeting rooms!</li>
    <li>Customize your Startr Space with your teams colors and logo.</li>
    <li>Enterprise accounts can have up to 1000 users.</li>
  </ul>
</details>
<form action="/free#submit" method="POST" enctype="multipart/form-data">
  <label for="space_name">
    {% if space_name %}<a href="{{space_name }}">{{space_name }}</a> is {% endif %}
    Your Space's Name:
  </label>
  <input
    type="text"
    id="space_name"
    name="space_name"
    required
    pattern="(?=.*[a-z])(?=.*[A-Z]).{6,}"
    required
    autocomplete="organization"
    value="{{ space_name }}"
    title="Must contain one uppercase and lowercase letter, and at least 6 or more characters"
  />
  <label for="space_pass">Set your space's password:</label>
  <input
    type="password"
    id="space_pass"
    name="space_pass"
    required
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    autocomplete="new-password"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
  />
  <input style="float: right; margin-right: 0" type="submit" value="Submit" />
</form>

{% endblock %}
