{% extends "layout.html" %} {% block title %} Contact - Form {% endblock %}
<!---->
{% block content %}

<section
  class="row wow animate__fadeIn"
  id="home"
  style="
    --d: flex;
    --fd: column;
    --fd-sm: row;
    --ai: center;
    --p: 2rem;
    --mb: 1rem;
  "
>
  <div class="column" style="--ta: center; --d: grid; --fw: wrap">
    <img alt="Meet freely with our Startr Spaces. This image shows two people interacting." src="/images/Frames.png" style="--ps: center" />
  </div>
  <div class="column" style="--p: 2rem; --w-md: 51%">
    <h2 style="--mb: 1rem">
      Online spaces that actually encourage people to be together
    </h2>
    <h3 style="--mb: 1rem">
      A video chat platform that transforms how you work, play, teach and learn
      online.
    </h3>
  </div>
</section>
<section
  class="row wow animate__fadeIn"
  id="about"
  style="--d: flex; --jc: center; --fd: column; --fd-md: row; --fw: wrap"
>
  <div class="column" style="--m: auto; --ta: center; --d: grid; --maxw: 300px">
    <img alt="Startr Keys" width="64" height="64" src="/images/1_Key_Icon.svg" style="--ps: center" />
    <h3>No links or invitations to manage</h3>
    <p>Get the key to your own, permanant virtual building!</p>
  </div>
  <div class="column" style="--m: auto; --ta: center; --d: grid; --maxw: 300px">
    <img alt="Startr.Space is your castle" width="64" height="64" src="/images/2_Castle_Icon.svg" style="--ps: center" />
    <h3>Interconnected rooms and spaces</h3>
    <p>Create custom spaces and allow people to flow between them.</p>
  </div>
  <div class="column" style="--m: auto; --ta: center; --d: grid; --maxw: 300px">
    <img alt="Startr Spaces Apps" width="64" height="64" src="/images/3_Apps_Icon.svg" style="--ps: center" />
    <h3>Embedded content and apps</h3>
    <p>Personalise rooms with whiteboards, books, videos and more.</p>
  </div>
</section>
<section class="row wow animate__fadeIn">
  <div
    class="column"
    style="
      --ta: center;
      --bgc: #3400ca;
      --c: white;
      --p: 1rem;
      --d: grid;
      --w-lg: calc(100vw + 1rem);
      --t-lg: translate(calc(((100vw - var(--maxw-md)) / -2) - 0rem));
    "
  >
    <p style="--mt:0.6em">
      Can virtual experiences spark joy and creativity? At Startr we think so!
    </p>
    <h4>
      <a href="/register"
        ><button style="--p: 1rem 2rem; --mr: 1rem; --ps: center">
          Get Started Today!
        </button></a
      >
    </h4>
  </div>
</section>
<section
  class="row wow animate__fadeIn"
  style="--d: inherit; --d-md: flex; --ai: center; --p: 2rem; --mb: 1rem"
>
  <div class="column" style="--ai: center; --ta: center; --d: grid; --fw: wrap">
    <h2>Just what you need, right when you need it.</h2>
  </div>
</section>
<section
  class="row wow animate__fadeIn"
  id="about"
  style="--d: flex; --jc: center; --fd: column; --fd-md: row; --fw: wrap"
>
  <div class="column" style="--m: auto; --ta: center; --d: grid; --maxw: 300px">
    <img alt="Startr.Spaces Keys" width="64" height="64" src="/images/4_Person_at_Computer Icon.svg" style="--ps: center" />
    <h3>Easy-to-use</h3>
    <p>Enjoy a space that is easy to access and easy to use ... for everyone</p>
  </div>
  <div class="column" style="--m: auto; --ta: center; --d: grid; --maxw: 300px">
    <img alt="Startr.Space adjusts to your needs" width="64" height="64" src="/images/5_Adjust_Icon.svg" style="--ps: center" />
    <h3>Customisable</h3>
    <p>Create custom spaces and allow people to flow between them.</p>
  </div>
  <div  class="column" style="--m: auto; --ta: center; --d: grid; --maxw: 300px">
    <img alt="Work with the Startr Space Team" width="64" height="64" src="/images/6_Team_Icon.svg" style="--ps: center" />
    <h3>Support</h3>
    <p>Speak with a real person when something’s not right.</p>
  </div>
</section>
{% endblock %}
