{% extends "layout.html" %}
{% block title %}{{ content }}
{% endblock %}
<!---->
{% block content %}
    {% if content %}
        <h1>{{ content }}</h1>
    {% endif %}
    <section style="--maxw:60rem; --p:4rem">
        {% if markdown %}
            {% filter markdown %}
{# markdown must not be indented #}
{{ markdown }}
        {% endfilter %}
    {% endif %}
            <p>
                <a style="--ft:right" href="{{ link }}">{{ message }}</a>
            </p>
            </section>

{% endblock %}